

.jumbotron
{
    margin-top: 5%;
}

/* .row
{
    margin-top: 10%;
    position: relative;
    width: 100%;
    
} */

.breadcrumb
{
    margin-top: 5%;
    background-color: #fff;
}

.navbar-nav
{
    margin-top: 2%;

}
.navbar-brand
{
    margin-top: 5%;
    margin-left: 3%;
}

.nav-item
{
    margin-top: 5%;
    margin-left: 3%;
}

.form-inline
{
    margin-left: 50%;
    margin-top: -7%;
}
